@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,400;1,600&family=Oswald:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:hover{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

p{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


.header{
    position: sticky;
    z-index: 9;
}

html{
    scroll-behavior: smooth;
}

.nav_scroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(36, 34, 34, 0.342);
    z-index: 1;
}

.section_heading{
    margin-bottom: 30px;
}

.pb_60{
    padding-bottom: 60px;
}

.pt_60{
    padding-top: 60px;
}

.section_heading h3{
    color : #353535;
    font-size: 24px;
    text-transform: uppercase;
}

.section_heading img{
    margin-top: -22px;
    margin-left: -30px;
}

body{
    overflow-x: hidden;
}

/* Heading Starts */

#header{
    background-color: #0872b9;
    padding: 10px;
}

.header_left p{
    color: white;
}

.header_right a{
    margin-left: 15px;
}

.header_right a{
    color: white;
    transition: all linear 0.3s;
}

.header_right a:hover{
    color: #353535;
}

/* Heading Ends */

/* Navigation Starts */
#navigation{
    padding: 35px;
    background-color: white;
}


.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0; 
    margin-left: 15px;
    color: #353535;
    font-size : 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    transition: all linear 0.3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #0872b9;
}

.navbar-toggler-icon .bar{
    color: #353535;
    border-color: black;
}

/* Navigation Ends */

/* Banner Starts */

#banner{
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
}

.bnr_overlay{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 88px;
}

.bnr_content h2{
    font-size: 30px;
    color: white;
}

.bnr_content h1{
    font-size: 40px;
    color: white;
    padding-top: 15px;
}

.bnr_content p {
    font-size: 13px;
    color: white;
    padding: 32px 0px 58px;
}

.bnr_content a{
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid white;
    margin-left: 20px;
    transition: all linear 0.3s;
}

.bnr_content a:hover{
    border: 1px solid #0872b9;
    background: #0872b9;
}

/* Banner Ends */

/* About Starts */
.about_content p{
    color: #555555;
    font-size: 13px;
}

.about_content p:nth-child(1){
    margin-top: 42px;
    margin-bottom: 36px;
}
/* About Ends */

/* Services Starts */

#service .section_heading{
    margin-bottom: 60px;
}


#service .section_heading img{
    margin-left: -65px;
}


.service_main{
    position: relative;
}

.service_icon{
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    height: 81px;
    width: 81px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_icon2{
    height: 75px;
    width: 75px;
    border: 2px solid #fbfbfb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_icon3{
    height: 69px;
    width: 69px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_content{
    text-align: center;
    padding: 51px 22px 20px;
    background-color: #f1f1f1;
}

.service_content h4{
    font-size: 16px;
    color: #353535;
}

.service_content p{
    font-size: 13px;
    color: #555555;
    margin-top: 20px;
}


.service_main:hover .service_content{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.23);
}

.service_main:hover .service_icon2{
    border: 1px solid #77cff6;
}

.service_main:hover .service_icon3{
    background-color: #77cff6 ;
}
/* Services Ends */


/* Portfolio Start */


.portfolio_heading{
    margin-bottom: 20px;

}


.portfolio_heading img{
    margin-left: -100px;
    margin-top: -20px;
}

.big_image,
.small_image{
    position: relative;
    overflow: hidden;
}

.port_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    top: -100%;
    visibility: hidden;
    opacity: 0;
}

.port_overlay a{
    height: 40px;
    width: 40px;
    border: 50%;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50%;
    margin-top: 50%;
    transition: 0.3s;
}

.big_image:hover .port_overlay a,
.small_image:hover .port_overlay a{
    background-color: #77cff6;
    border: 1px solid #77cff6;
}

.big_image:hover .port_overlay,
.small_image:hover .port_overlay{
    background-color: rgba(0, 0, 0, 0.425);
    top: 0%;
    visibility: visible;
    opacity: 1;
}

.small_image{
    margin-bottom: 20px;
}

.big_image{
    margin-bottom: 20px;
}
/* Portfolio Ends*/

.team_img{
    position: relative;
    overflow: hidden;
    transition: all linear 0.3s;
}
.team_overlay{
    position: absolute;
    top: 0;
    right: 100%;
    width: 33.33%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}
.team_main:hover .team_overlay{
    right: 0;
}
.team_overlay ul a{
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
    transition: all linear 0.3s;
}
.team_overlay ul a:hover{
    background: #5bc5f4;
    border-color: #5bc5f4;
}
.team_content{
    text-align: center;
    margin-top: 10px;
}
.team_content h4{
    font-size: 16px;
    color: #353535;
    font-weight: 600;
    text-transform: uppercase;
    transition: all linear 0.3s;
}
.team_content h5{
    margin-top: 10px;
    font-size: 13px;
    color: #555;
}
.team_main:hover .team_img{
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)
}
.team_main:hover .team_content h4{
    color: #5bc5f4;
}

/*team end*/
#testimonial .section_heading img{
    margin-left: -98px;
}
.tst_img{
    margin-bottom: 35px;
}
.tst_content{
    padding: 20px 22px;
    background: #f1f1f1;
    position: relative;
}
.tst_content:before{
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    height: 45px;
    width: 45px;
    background: #f1f1f1;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}
.tst_content h5{
    font-size: 16px;
    color: #353535;
    font-weight: 600;
    text-transform: uppercase;
}
.tst_content p,
.tst_content strong{
    font-size: 13px;
    color: #555555;
}
.tst_content a{
    color: #5bc5f4;
}
/*testimonial end*/

#footer{
    padding: 30px 0;
    background: #353535;
}
.f_heading {
    margin-bottom: 13px;
}
.f_heading h6{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.icon i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #5bc5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
}

.contact_info{
    margin-top: -3px;
    margin-left: 10px;
}
.contact_info a{
    display: block;
}









